* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #050b14;
    color: white;
}

header {
    text-align: center;
    padding: 60px 20px;
    background: #071525;
}

header h1 {
    color: #00ff88;
    font-size: 40px;
}

header p {
    color: #aaa;
}

main {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

section {
    background: #0b1625;
    margin: 20px 0;
    padding: 25px;
    border-radius: 15px;
    border: 1px solid #123;
}

h2 {
    color: #00ff88;
}

button {
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    background: #00ff88;
    color: #000;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

footer {
    text-align: center;
    padding: 30px;
    color: #777;
}